*[[:space:]]files[[:space:]]present[[:space:]](use[[:space:]]git filter=lfs diff=lfs merge=lfs -text
add[[:space:]]to[[:space:]]track)
Hasan[[:space:]]Can[[:space:]]Demirci@DESKTOP-706OJJL[[:space:]]MINGW64[[:space:]]~/Desktop/haydi[[:space:]]bismillah/CilioGenics_Analysis[[:space:]](main)
$[[:space:]]git[[:space:]]lfs[[:space:]]track[[:space:]]* filter=lfs diff=lfs merge=lfs -text
*protein_interactions.txt filter=lfs diff=lfs merge=lfs -text
